{{ define "main" }} {{ partial "page-title.html" . }}

<!-- portfolio -->
<section class="section">
  <div class="container">
    <div class="row shuffle-wrapper">
      {{ range .Site.Data.portfolio.item }}
      <div
        class="col-lg-4 col-6 mb-4 shuffle-item"
        data-groups='["{{.category | urlize}}"]'
      >
        <div class="position-relative rounded hover-wrapper">
          <img
            src="{{.image | absURL }}"
            alt="portfolio-image"
            class="img-fluid rounded w-100 d-block"
          />
          {{ if and ( ne .project_url "" ) ( ne .project_url "#" ) }}
          <div class="hover-overlay">
            <div class="hover-content">
              <a
                class="btn btn-light btn-sm"
                href="{{ .project_url | safeURL }}"
                >ver projeto</a
              >
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- /portfolio -->

{{ if .Site.Data.portfolio.clients_logo_slider.enable }}
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">
          {{ .Site.Data.portfolio.clients_logo_slider.title | markdownify }}
        </h2>
      </div>
    </div>
    {{ partial "client-slider.html" . }}
  </div>
</section>
{{ end }} {{ end }}
